@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");

:root {
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
